* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(250, 250, 230, 0.2), rgba(250, 250, 230, 0.2)), url(images/lake.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 7%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 300px;
}

.logo {
  width: 0%;
  height: 0%;
  display: block;
}

.navbar {
  flex: 1;
  text-align: right;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.navbar ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
}

.navbar ul li::after {
  content: '';
  width: 0%;
  height: 5px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #000000;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 60px;
}

/* .text-box p{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
} */
.text-box p {
  margin: 10px 0 20px;
  font-size: 16px;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  border: 1px solid none;
  padding: 12px 34px;
  font-size: 14px;
  background: #fff;
  position: relative;
  cursor: pointer;
}
